#!/usr/bin/python3

# =======================================================================================================
# CONSTANTS
# =======================================================================================================

class CmonitorToolVersion:
    def __init__(self):
        self.version_string = "__RPM_VERSION__-__RPM_RELEASE__"

    def print(self):
        print(self.version_string)

    def get(self):
        return self.version_string
