Source: cmonitor
Section: base
Priority: optional
Maintainer: Francesco Montorsi <francesco.montorsi@gmail.com>
Build-Depends: debhelper (>=10), libgtest-dev, libbenchmark-dev, libfmt-dev
Standards-Version: 4.0.0
Homepage: https://github.com/f18m/cmonitor

Package: cmonitor-collector
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a container performance monitoring solution
  Package containing the C++ lightweight agent to collect all metrics from monitored systems

Package: cmonitor-tools
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}
Description: a container performance monitoring solution
  Package containig the auxiliary Python3 scripts to post-process recorded metrics.
  This package has arch amd64 just because on i386 the build fails as it will try to build the C++ part as well.
