#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ 

override_dh_auto_build:
	$(MAKE) -C collector all DISABLE_UNIT_TESTS_BUILD=1 DISABLE_BENCHMARKS_BUILD=1 -j
	$(MAKE) -C tools
        # just to give the same user experience of RPMs, remove the .py extension here
	mv ./tools/chart/cmonitor_chart.py ./tools/chart/cmonitor_chart
	mv ./tools/statistics/cmonitor_statistics.py ./tools/statistics/cmonitor_statistics

override_dh_auto_install: 
	# we just override the 'install' phase to provide not only the DESTDIR but also the BINDIR variable
	#$(MAKE) -C collector install BINDIR=usr/bin DESTDIR=$(PWD)/debian/cmonitor
	echo "skipping install because files will get installed by cmonitor-*.install files"

override_dh_auto_test:
	echo "unit tests disabled -- I didn't manage to get lgtest linking step to work"
