name: main CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: install deps
      run: sudo apt install -y libgtest-dev libbenchmark-dev libfmt-dev tidy git python3 python3-dateutil python3-pip 
    - name: install PyDeps
      run: sudo pip3 install pytest
    - name: make all
      run: make PROMETHEUS_SUPPORT=1
    - name: make test
      run: make test
