name: main CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: install deps
      run: sudo apt install -y libgtest-dev libbenchmark-dev libfmt-dev tidy git python3 python3-dateutil python3-pip
    - name: install PyDeps
      run: sudo pip3 install pytest black
    - name: check Python formatting
      run: make format_check
    - name: install Prometheus
      run: | 
         sudo pip3 install conan
         sudo conan profile new default --detect
         sudo conan profile update settings.compiler.libcxx=libstdc++11 default
         sudo conan install conanfile.txt --build=missing
    - name: make all
      run: make PROMETHEUS_SUPPORT=1
    - name: make test
      run: make test
